
{extend name='Public:layoutteacher'/}

{block name='CSS'}
<style type="text/css">
</style>

{/block}
{block name="panel-title"}<span>安全设置</span>{/block}

{block name="panel-body"}
<div class="row">
<div class="col-sm-6 col-sm-offset-3">
<div class="panel-body">
  <form action="" method="POST" role="form">
   
  
    <div class="form-group">
      <label for="">用户名</label>
      <input type="text" readonly="true"  name="username" class="form-control" value="{$Userdata['username']}" id="" placeholder="Input field">
    </div>
    <div class="form-group">
      <label for="">密码</label>
      <input type="password" readonly="true" name='pwd' class="form-control" id="" value="{$Userdata['pwd']}" placeholder="Input field">
    </div>

    <a   class="btn btn-primary" {eq name='Think.session.auth' value='1'}onclick="alert('不还意思您是授权登录的用户是不可以修改密码的')"{else/} onclick="_openLayerUrl('{:U('safe',array('md'=>'st'))}','修改密码','60%','45%',['250px','28%'])" {/eq}>修改</a>
     </div> 
  </form>

  </div>
  </div>
</div>
  


{/block}



{block name='JS'}
<script type="text/javascript">

</script>

{/block}


