 	
   /* 主色调 */
 	.bluetop{
 	 background:linear-gradient(to bottom,#0060B0,#2B91F7);
	
	}
	.bluebottom:{
	background:#0065B3 !important;
	}
	.bgblue{
	background:#E9F0FD !important;
	}
	.darksblue{
	background: #0660BA !important;
	}
	*{
	  font-family: "微软雅黑" !important;
	}
	.WU_header{
	  width: 100%;
	  background: #fee;
	  height: 140px;

	}
	.WU_top{
	  width: 100%;
	  height: 40px;
	  padding: 0px 5%;
	  color: #fff;
	  line-height: 40px;
	  font-size: 16px;
	  opacity: 0.9;

	 }
	 .WU_content{
	  padding:20px 5%;
	 }
	 .relog button{
	border-radius: 18px;
	padding: 6px 22px;
	
	}
	.WU-nav>li{
	margin-right:30px ;
	text-decoration: none;
	font-size:16px ;
	color: #000;
	}
	.WU-nav a{
	font-size:18px ;
	color: #000;
	}
	
	.WU-nav>li:hover{
	  border-bottom: 2px solid #999;
	
	}
	.WU_footer{
		width: 100%;
		/* height: 100px; */
		color: #fff;
		background: #515151;
	  }
	 .text-center-footer>span{
      display: inline-block;
      margin-right: 5px;
      font-size: 16px
	 }
   	.container{
   	  width: 1368px !important;
   	}
   	.row{

   	}
   	.WU_infoheader{
   	  display: inline-block;
   	  padding-left:8px;
   	  font-size:20px;
   	  color:#999;
   	  border-left:4px solid #1B71BA;
   	}
   	.WU_inforow{
   	  padding-top:15px !important;
   	  border-bottom:1px solid #4e2b2b !important;
   	  padding-bottom: 10px !important ;
   	}
   	.WU_scrollinfo>.infotitle  span{
   	  display: block;
   	  width: 20%;
   	  float: left;
   	  line-height: 50px;
   	  color: #fff;
   	  text-align: center;
   	  font-size: 18px;
   	    background-color: #515151;
   	     border-left: 2px solid #fff; 

   	}
   	.WU_scrollli >span{
   	  display: block;
   	  width: 20%;
   	  float: left;
   	  line-height: 40px;
   	  height: 40px;
   	  color: #999;
   	  text-align: center;
   	  font-size: 16px;
   	   
   	}
   	.WU_scrollli{
   	list-style:none;
   	height:40px;
   	margin-left:-40px;
   	border-bottom: 1px solid #ccc;

   	}
   	.showdetail{
    border:1px solid #000;
    padding:4px 15%;
    font-size: 16px;
    color: #3688ff;
   }
   .WU_scrollli:hover {
     background: #ccc;
     opacity: 0.9
   } 