
{extend name='Public:layouts'/}

{block name='CSS'}
<style type="text/css">
 


</style>

{/block}


{block name="content"}
<div style="height: 2000px;width:2000px;background: #26A2FF;border-radius:1000px;position: absolute;top:-1750px;left:50%;margin-left: -1000px;;"></div>
	<div class="hui-wrap">
	
    <div class="hui-media-list" style="background:#26A2FF;height: 200px;position: relative;text-align: center;color:#FFFFFF">
        		<div style="margin-top:-40px;left:50%;margin-left:-40px;position: absolute;top:50%">
                <a href="javascript:hui.toast('hi...');">
                    <img style="width:80px;height:80px;border-radius: 40px;border:solid #fff 1px" src="img/1.png" />
                	<p style="color:#FFFFFF">用户名</p>
            	</a>
    </div>
    </div>  
       
  
     <div class="hui-list" style="background:#FFFFFF; margin-top:58px;">
        <ul>
            <li><a href="javascript:void(0);" class="hui-arrow hui-icons hui-icons-write">&nbsp;&nbsp;我的选题</a></li>
            <li><a href="javascript:void(0);" class="hui-arrow hui-icons hui-icons-forum">&nbsp;&nbsp;班级正选</a></li>
            <li><a href="javascript:void(0);" class="hui-arrow hui-icons hui-icons-my">&nbsp;&nbsp;班级导师</a></li>
            <li><a href="javascript:void(0);" class="hui-arrow hui-icons hui-icons-nav">&nbsp;&nbsp;基本资料</a></li>
            <li><a href="javascript:void(0);" class="hui-arrow hui-icons hui-icons-check">&nbsp;&nbsp;密码修改</a></li>
        </ul>
    </div>
    <div class="hui-list" style="background:#FFFFFF; margin-top:28px;">
        <ul>
            <li><a href="javascript:void(0);" class="hui-icons hui-icons-logoff">&nbsp;&nbsp;退出系统</a></li>
        </ul>
    </div>
</div>



{/block}



{block name='JS'}
<script type="text/javascript">
  
</script>

{/block}


