
{extend name='Public:layoutteacher'/}

{block name='CSS'}
<style type="text/css">
 


</style>

{/block}
{block name="panel-title"}<span>班级公示</span>{/block}

{block name="panel-body"}

<div class="panel-body">
   <div class="row WU_scrollinfo" style="padding-top:3px;height:600px;overflow: hidden ">
      <div class="col-sm-12">
     <div class="WU_myscroll">
     <ul >
      <li class="WU_scrollli" >
      <span >课程题目</span>
      <span >指导教师</span>
      <span >已选人数</span>
      <span ><a  href='' class="showdetail">查看详情</a></span>
      <span ><button class="btn btn-danger">在线选课</button></span>
      </li>
       <li class="WU_scrollli" >
      <span >课程题目</span>
      <span >指导教师</span>
      <span ><button class="btn btn-success"> <span class="badge ">42</span></button></span>
      <span ><a  href='' class="showdetail">查看详情</a></span>
      <span ><button class="btn btn-danger">在线选课</button></span>
      </li>
     
     </ul>
     </div>
    </div>
  </div>
</div>
  


{/block}



{block name='JS'}
<script type="text/javascript">
  
</script>

{/block}


