
{extend name='Public:layoutteacher'/}

{block name='CSS'}
<style type="text/css">
 


</style>

{/block}
{block name="panel-title"}<span>mitain</span>{/block}

{block name="panel-body"}

<div class="panel-body">
  sdafds
</div>
  


{/block}



{block name='JS'}
<script type="text/javascript">
  
</script>

{/block}



{extend name='Public:layoutstudent'/}

{block name='CSS'}
<style type="text/css">
 


</style>

{/block}
{block name="panel-title"}<span>我的选课</span>{/block}

{block name="panel-body"}

<div class="panel-body">
 <ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">所有题目</a></li>
  <li role="presentation" class="active"><a href="#">已选题目</a></li>
</ul>
</div>
  


{/block}



{block name='JS'}
<script type="text/javascript">
  
</script>

{/block}


