
{extend name='Public:layoutteacher'/}

{block name='CSS'}
<style type="text/css">
 


</style>

{/block}
{block name="panel-title"}<span>毕业班学生</span>{/block}

{block name="panel-body"}

<div class="panel-body">
 <div class="row WU_scrollinfo" style="padding-top:15px; ">
  <div class="WU_info">
  
    <div class="row WU_scrollinfo">
  
    <div class="col-sm-12 infotitle">
    <span >学生姓名</span>
    <span >课程题目</span>
    <span >指导老师</span>
    <span >课程要求</span>
    <span >选课状态</span>
    </div>
    </div>
     <div class="row WU_scrollinfo" style="padding-top:3px;height:600px;overflow: hidden ">
        <div class="col-sm-12">
       <div class="WU_myscroll">
         {empty name='Stdetaildata'}
        <div class="jumbotron">
          <div class="container">
            <h1>已经尽力了</h1>
            <p>该学生给你还没有开始选课，敬请关注</p>
            <p>
              <a class="btn btn-primary btn-lg" onclick="javascript:history.go(-1)">返回</a>
            </p>
          </div>
        </div>
        {/empty}
       <ul>
          {volist name="Stdetaildata" id="vo"}
        <li class="WU_scrollli" >
        <span >{$vo.strealname}</span>
        <span >{$vo.coursename}</span>
        <span >{$vo.terealname}</span>
        <span >{$vo.createtime}</span>
        <span >
         {eq name='vo.is_success' value='1'}
         <button class="btn btn-success">成功选课</button>
          {else/}
          {eq name='vo.isreceive' value="0"}
          <button class="btn btn-success">已选课</button>
          {else/}
         <button   class="btn btn-danger">已拒绝</button>
           {/eq}
        {/eq}
        </li>
       {/volist} 
        
       
       </ul>
       </div>
      </div>
    </div>
    </div>
    </div>
 </div>
</div>
  


{/block}



{block name='JS'}
<script type="text/javascript">
  
</script>

{/block}


