{extend name='Public:layouts'/}
{block name='CSS'}
<style type="text/css">

</style>

{/block}

{block name="content"}


    
    <!-- 导航图 -->
  <div class="container-fluid" >

   <div class="WU_info">
    <div class="row WU_inforow ">
   <span class='WU_infoheader'>注册管理</span>
   <a class='pull-right WU_more' href="">更多>></a>

      </div>
     <div class="row" style="padding-top:15px; ">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">注册用户</h3>
        </div>
        <div class="panel-body">

         <div class="row">
           <div class="col-sm-6 col-sm-offset-3">
            <form action="" method="POST" role="form">
              <div class="form-group">
                <label for="">学号/工号</label>
                <input type="text" class="form-control" id="" placeholder="Input field">
              </div>
              <div class="form-group">
                <label for="">登录密码</label>
                <input type="text" class="form-control" id="" placeholder="Input field">
              </div>
              <div class="form-group">
                <label for="">重复密码</label>
                <input type="text" class="form-control" id="" placeholder="Input field">
              </div>
              <div class="form-group">
                <label for="">验证码</label>
                <input type="text" class="form-control" id="" placeholder="Input field">
              </div>
              <div class="form-group">
                <label for="">label</label>
                <input type="text" class="form-control" id="" placeholder="Input field">
              </div>            
              
            
              <a type="submit" href="ming.html" class="btn btn-primary">注册</a>
              <button type="reset" class="btn btn-default">取消</button>
            </form>
            </div>
         </div>
        </div>
      </div>
  
  

     </div>


 </div>
------------------
  
</div>


{/block}
{block name="JS"}
<script type="text/javascript">

</script>
{/block}

