
{extend name='Public:layoutstudent'/}

{block name='CSS'}
<style type="text/css">
 


</style>

{/block}
{block name="panel-title"}<span>班级导师</span>{/block}

{block name="panel-body"}

<div class="panel-body">
 <div class="row WU_scrollinfo" style="padding-top:15px; ">
 <div class="col-sm-3">
   <div class="thumbnail">
         <img src="holder.js/200x200" class="img-circle" alt="...">
         <div class="caption">
           <h3 class="text-center">王文坏</h3>
           <p class="text-center">课程题目数量课程题目数量课程题目数量课程题目数量课程题目数量</p>
           <p class="text-center">
           <a href="{:U('lists')}" class="btn btn-primary" role="button">点击查看</a>
            <a  class="btn btn-success" role="button">课程数量<span class="badge">10</span></a></p>
         </div>
   </div>
 </div>
 </div>
</div>
  


{/block}



{block name='JS'}
<script type="text/javascript">
  
</script>

{/block}


