
{extend name='Public:layoutstudent'/}

{block name='CSS'}
<style type="text/css">
 


</style>

{/block}
{block name="panel-title"}<span>班级导师</span>{/block}

{block name="panel-body"}

<div class="panel-body">
 <div class="row WU_scrollinfo" style="padding-top:15px; ">
 {foreach  name='Tedata' item='vo'}
 <div class="col-sm-3">
   <div class="thumbnail">
         <img src="{$vo.photo|default='__IMG__a2.jpg'}" class="img-circle" alt="...">
         <div class="caption">
           <h3 class="text-center">{$vo.realname}</h3>
           <p class="text-center">{$vo.desct}</p>
           <p class="text-center">
           <a href="{:U('Teachers/lists',array('id'=>$vo['idt']))}" class="btn btn-primary" role="button">点击查看</a>
            <a  class="btn btn-success" role="button">课程数量<span class="badge">{$vo.total}</span></a></p>
         </div>
   </div>
 </div>
 {/foreach}
 </div>
</div>
  


{/block}



{block name='JS'}
<script type="text/javascript">
  
</script>

{/block}


