
{extend name='Public:layoutstudent'/}

{block name='CSS'}
<style type="text/css">
 


</style>

{/block}
{block name="panel-title"}<span>基本信息</span>{/block}

{block name="panel-body"}
<div class="row">
<div class="col-sm-8 col-sm-offset-2">
<div class="panel-body">
  <form action="{:U('intro')}" method="POST" role="form" id='introform'>
   
  
    <div class="form-group">
      <label for="">姓名</label>
      <div class="row">
      <div class="col-sm-8">
      <input type="text" class="form-control" value="{$Userdata['realname']}" name="realname" placeholder="请输入您的真实姓名">
      </div>

      </div>
    </div>
   
   <div class="form-group">
     <label for="">学号</label>
     <div class="row">
     <div class="col-sm-8">
     <input type="text" class="form-control" value="{$Userdata['studentid']}"  name="studentid" placeholder="请输入您的学号">
     </div>
     </div>
   </div>   
   <div class="row">
   <div class="col-sm-4">
    <div class="form-group">
      <label for="">院系</label>
       <select class="form-control" id='depart' name="depart_id">
        <option value=''>--请选择您的院系--</option>
        {foreach name='Dedata' item='vo'}

        <option value='{$vo.id}' {eq name='vo.id' value="$Userdata['depart_id']"} selected{/eq}>{$vo.departname}</option>
       {/foreach}
       </select>
    </div>
    </div>
      <div class="col-sm-4">
       <div class="form-group">
         <label for="">专业</label>
          <select class="form-control" name='class_id' id='classes'>
          <option value=''>--请选择您的专业--</option>
           {foreach name='Cldata' item='vo'}
           <option value='{$vo.id}' {eq name='vo.id' value="$Userdata['class_id']"} selected{/eq}>{$vo.classname}</option>
          {/foreach}
       </select>
       </div>
       </div>
    </div>
    <button type="submit" {neq name='Think.get.isIntro' value='1'} disabled{/neq} class="btn btn-primary">提交</button>
    <button type="submit"  class="btn btn-success">修改</button>
     </div> 
    
  </form>
  </div>
  </div>
</div>

{/block}


{block name='JS'}
<script type="text/javascript">
    {eq name='Think.get.isIntro' value='1'}
    // layer.msg('请您先完善一下个人信息,以免信息不全给您造成不便',{icon:6,time:2000})
    layer.confirm('请您先完善一下个人信息,以免信息不全给您造成不便',{icon:3,title:'提示',btn:['我同意','稍后再说']})
    {/eq}

    jQuery.validator.addMethod("isChinesname", function(value, element) {  
    return this.optional(element) || !(/[^\u4e00-\u9fa5]+/.test(value));       
    }, "真实名字必须是中文");
   
   
    var icon="<span class='glyphicon glyphicon-remove-sign'></span>";   
     messageslogin={
     realname:{
      required:icon+'请输入真实姓名',
      maxlength:icon+'请输输入正确长度的用户名,不能超过5',
      isChinesname:icon+'真实名字必须是中文'
     },
     studentid:{
      required:icon+'请输输入学号',
      maxlength:icon+'学号长度不能超过15',
      number:icon+'学号/必须是数字'
     },
     class_id:{
      required:icon+'请选择专业',
     },
     depart_id:{
      required:icon+'请选择院系',
     }
    
    

    };
     ruleslogin={
     realname:{
      required:true,
      maxlength:5,
      isChinesname:true
     },
     studentid:{
      required:true,
      maxlength:15,
      number:true
     }
     // class_id:{
     //  required:true,
     // },
     // depart_id:{
     //  required:true,
     // }
    };

    _validade({id:'introform',rules:ruleslogin,messages:messageslogin})
    $('#depart').change(function(){
        txt=$(this).val();
       $('#classes')[0].options.length = 0;
       // $('#classes')[0].options.add(new Option('','--请选择您的专业--'))
        $.post('__MODULE__/Class/changeClass',{de:txt},function(data){
            $.each(data,function(index,val){
              $('#classes')[0].options.add(new Option(val,index))
            })

        })
    })



</script>

{/block}


