
{extend name='Public:layoutstudent'/}

{block name='CSS'}
<style type="text/css">
 


</style>

{/block}
{block name="panel-title"}<span>安全设置</span>{/block}

{block name="panel-body"}
<div class="row">
<div class="col-sm-6 col-sm-offset-3">
<div class="panel-body">
  <form action="" method="POST" role="form">
   
  
    <div class="form-group">
      <label for="">用户名</label>
      <input type="text" readonly="true"  name="username" class="form-control" value="{$Userdata['username']}" id="" placeholder="Input field">
    </div>
    <div class="form-group">
      <label for="">密码</label>
      <input type="password" readonly="true" name='pwd' class="form-control" id="" value="{$Userdata['pwd']}" placeholder="Input field">
    </div>

    <a   class="btn btn-primary" onclick="_openLayerUrl('{:U('safe',array('md'=>'st'))}','修改密码','60%','45%',['250px','28%'])">修改</a>
     </div> 
  </form>

  </div>
  </div>
</div>
  


{/block}



{block name='JS'}
<script type="text/javascript">
  $('#btns').click(function(){
   //此处用于演示
        layer.open({
          type: 2,
          title: '很多时候，我们想最大化看，比如像这个页面。',
          shadeClose: true,
          shade: false,
          maxmin: true, //开启最大化最小化按钮
          area: ['893px', '600px'],
          content: '//fly.layui.com/'
        });
   });
</script>

{/block}


