
{extend name='Public:layouts'/}
{block name='CSS'}
<style type="text/css">
  .WU_scrollli {
    border-bottom: 1px dashed #ccc !important; 
  } 
  
  .WU_scrollinfo > .infotitle span:hover{
  opacity: 0.5;
  }
  .img-circle{
  transition: transform linear 0.6s;
  }
  .img-circle:hover{
  transform: rotateY(180deg)
  }
 @keyframes myanite {
   0%{
   transform:translateX(20px);
   }

   50%{
   transform:translateX(0px);
   }
   100%{
  transform:translateX(-20px);
   }

 }

 .WU_Te_thumbnail:hover{
   animation-name:myanite;
   animation-duration:2s;
   animation-timing-function:linear;
 }

</style>

{/block}

{block name="content"}


    
    <!-- 导航图 -->
  <div class="container-fluid" >

  <div class="WU_info">
   <div class="row WU_inforow">
   <span class='WU_infoheader'>毕设指导教师</span>

     </div>
    <div class="row WU_scrollinfo" style="padding-top:15px; ">
     {empty name='tedata'}
    <div class="jumbotron">
      <div class="container">
        <h1>已经尽力了</h1>
        <p>暂时还没有搜索到任何的教师信息，敬请关注</p>
        <p>
          <a class="btn btn-primary btn-lg" onclick="javascript:history.go(-1)">返回</a>
        </p>
      </div>
    </div>
    {/empty}
    {volist name='tedata' id="data"}
    <div class="col-sm-2">
      <div class="thumbnail WU_Te_thumbnail">
            <img src="{$data.photo|default='__IMG__a2.jpg'}" class="img-circle" alt="...">
            <div class="caption">
              <h3 class="text-center">{$data.realname}</h3>
              <p class="text-center">{$data.desct|default="该老师很优秀"}</p>
              <p class="text-center">
              <a href="{:U('lists',array('id'=>$data['idt']))}" class="btn btn-primary" role="button">点击查看</a>
               <a  class="btn btn-success" role="button">课程数量<span class="badge">{$data.total}</span></a></p>
            </div>
      </div>
    </div>
    {/volist}
    </div>

    
    </div>
    </div>


{/block}
{block name="JS"}
<script type="text/javascript">
  myscroll=$(".WU_myscroll")[0];
  myscrollafter=$(".WU_myscrollafter")[0];
  scrollinfo=$(".WU_scrollinfo")[1];
  myscrollafter.innerHTML=myscroll.innerHTML;
  // alert(myscroll.offsetHeight);
  // alert(scrollinfo.scrollTop);
    // setInterval(function(){
    //  if(scrollinfo.scrollTop>=myscroll.offsetHeight)
    //    scrollinfo.scrollTop=scrollinfo.scrollTop-myscroll.offsetHeight;
    //  else
    //    scrollinfo.scrollTop++;
    //  },10)

</script>
{/block}

