<div class="row WU_scrollinfo" style="padding-top:15px; ">
    <div class="col-sm-12 infotitle">
    <span >课程题目</span>
    <span >指导教师</span>
    <span >已选人数</span>
    <span >课程要求</span>
    <span >选课/</span>
    </div>
    </div>
     <div class="row WU_scrollinfo" style="padding-top:3px;height:600px;overflow: hidden ">
        <div class="col-sm-12">
       <div class="WU_myscroll">
       <ul >
        <li class="WU_scrollli" >
        <span >课程题目</span>
        <span >指导教师</span>
        <span >已选人数</span>
        <span ><a  href='' class="showdetail">查看详情</a></span>
        <span ><button class="btn btn-danger">在线选课</button></span>
        </li>
         <li class="WU_scrollli" >
        <span >课程题目</span>
        <span >指导教师</span>
        <span >已选人数</span>
        <span ><a  href='' class="showdetail">查看详情</a></span>
        <span ><button class="btn btn-danger">在线选课</button></span>
        </li>
       
       </ul>
       </div>
      </div>
    </div>