{extend name='Public:layouts'/}
{block name='content'}


<div class="modal fade" id="modals" style="z-index: 999999999;">
  <div class="modal-dialog">
    <div class="modal-content">
    
      </div>
    </div>
  </div>
</div>
<div class="row WU_scrollinfo" style="padding-top:15px; ">
    <div class="col-sm-12 infotitle">
    <span >课程题目</span>
    <span >指导教师</span>
    <span >已选/共选</span>
    <span >课程要求</span>
    <span >选课/</span>
    </div>
    </div>
     <div class="row WU_scrollinfo" style="padding-top:3px;height:600px;overflow: hidden ">
        <div class="col-sm-12">
       <div class="WU_myscroll">
         {empty name='codata'}
        <div class="jumbotron">
          <div class="container">
            <h1>已经尽力了</h1>
            <p>该教师还没有发布任何课程，敬请关注</p>
            <p>
              <a class="btn btn-primary btn-lg" onclick="javascript:history.go(-1)">返回</a>
            </p>
          </div>
        </div>
        {/empty}
       <ul >
        {volist name='codata' id='data'}
        <li class="WU_scrollli" >
        <span >{$data.coursename}</span>
        <span >{$name.realname}</span>
        <span >
        <!-- {$data.choosenum} -->
        <div class="progress " style="width:60%;margin:10px auto;">
          <div class="progress-bar progress-bar-{$data['choosenum']==$data['limitnum']?'danger':'success'}  progress-bar-striped active" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:{$data['choosenum']/$data['limitnum']*100}%">
           {$data['choosenum']/$data['limitnum']*100}%({$data['choosenum']}人)
          </div>
        </div>
        </span>
        <span ><a  href='javascript:' numid="{:U('detail',array('numid'=>$data['id']))}" class="showdetail">查看详情</a></span>
        <span>
        {eq name='data.status' value='1'}
         <button class="btn">选课结束</button>
          {else/}
          {eq name='data.choosenum' value="$data['limitnum']"}
          <button class="btn btn-danger">选课已满</button>
          {else/}
         <button  onclick="location.href='{:U('Course/index')}'" class="btn btn-success">在线选课</button>
           {/eq}
        {/eq}
       <!--  {eq name="data['id']" value='$Userinfo["class_id"]'}<button class='btn btn-success'>我已选择</button>{else/}{/eq} -->
      </span>
        </li>
       
         {/volist}
       </ul>
       </div>
      </div>
    </div>
{/block}
{block name="JS"}
<script type="text/javascript">

$('.showdetail').click(function(){
   
    var numids=$(this).attr('numid');
    $('#modals').modal({
     show : true,
     backdrop : false,
     keyboard : true,
     remote :numids
    })
  });
$("#modals").on("show.bs.modal", function() {  
    $(this).removeData("bs.modal");  
});



</script>

{/block}